.el-container {
  width: 100%;
  height: 100%;
}
.el-header {
  background-color: rgb(179, 192, 209);
}
.el-aside {
  background-color: rgb(84, 92, 100);
  height: 100%;
}
.el-main {
  background-color: #E9EEF3;
}
h3 {
  line-height: 60px;
  text-align: center;
}

