.login-wrap {
  width: 100%;
  height: 100%;
  background-color: #2d434c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-wrap .login-form {
  background-color: #fff;
  padding: 50px 50px 20px 50px;
  width: 25%;
}
.el-form-item__content {
  margin-left: 0 !important
}